.post {
  font-family: 'Raleway', sans-serif;
}
h3.post{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: small;
}
p.post {
  font-size: small;
}
.about {
  font-family: 'Open Sans Condensed', sans-serif;
}